.R1 {
    background-color: rgb(38, 38, 228);
    height: 95px;
}

.B1 {
    padding-top: 35px;
}

.P1 {
    padding-top: 1px;
    color: whitesmoke;
}

.E1 {
    padding-top: 1px;
    color: whitesmoke;
}

.img1 {
    height: 100px;
    padding-top: 20px;
    margin-left: 20px;
}

.img2 {
    /* margin-top: 200px; */
    margin-left: 20px;
}
.img1{
    padding-top: 0px;
}

.R2 {
    margin-top: 90px;
    margin-left: 10px;
    margin-right: 50px;

}