{% extends "master.html" %}
{% load static %}
{% block content %}
<div class="page-content" style="padding-top:40px;padding-right:10px;padding-left: 10px;">
   
    <div class="page-title">
        <div class="row justify-content-between align-items-center">
            <div class="col-xl-4 col-lg-4 col-md-4 d-flex align-items-center justify-content-between justify-content-md-start mb-3 mb-md-0">
                <div class="d-inline-block">
                    <h5 class="h4 d-inline-block font-weight-400 mb-0 "> Change Password
</h5>
                </div>
            </div>
        </div>
    </div>
    <form action="/changepassword/" method="POST">
        {% csrf_token %}

    <div class="row R2">
        
        <div class="col-lg-5 col-md-5 col-xs-5 col-xl-5 col-xxl-5 d-sm-block d-sm-none d-md-block">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Old password" name="opassword">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="New password" name="newpassword" id="npassword">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Confirm password" name="confirmpassword" id="cpassword">
            </div>
            <button type="submit" class="btn btn-success B2" onclick="cpass()">Update</button>
        
        </div>
    </div>
</form>
{{msg}}
    </div>
    
    <script>
        function cpass(){
            npassword= document.getElementById('npassword').value;
      cpassword=document.getElementById('cpassword').value;
      if(npassword!=cpassword){
          alert("Password mismatch");
          document.getElementById('npassword').value="";
          document.getElementById('cpassword').value="";
      }
        }
      
    </script>
{% endblock %}